.header{
            background-color:blue;
            height: 100px;
        }
        .foot{
            background-color: black;
            width: 100%;
            height: 100px;
        }